.figure {
	position:absolute;
	top:80px;
	left:500px; 
	width: 100px;
	height:100px;
	background-color: black;
	animation-name: spin;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}
@keyframes spin {
		0%{
				transform: rotate(0deg);
				transform: translate(0px,0px)
		}
		35%{
			background-color: red;
			transform: translate(360px,0px)
		}
		50%{
			background-color: red;
			transform: translate(360px,360px)
		}
		75%{
			background-color: red;
			transform: translate(0px,360px)
		}
		100%{
			transform: rotate(360deg);
			transform: translate(0px,0px)
		}
	}
	